.weather-wrapper {    
	height: 7vw;
	overflow-y: hidden;
}

.weather-widget {
	display: block;
	font-size: 3.5vw;
	height: 11vw;
	overflow-x: scroll;
	overflow-y: hidden;
}

.weather-widget > * {
	display: inline-block;
}

.weather-widget-item * {
	display: inline-block;
	vertical-align: middle;
}

.weather-widget-item {
	margin: 0 1em;
	text-transform: capitalize;
	color: #2a2a2a;
	display: inline-block;
}
.weather-icon {
	margin: 0em 0.7em;
	width: 6.5vw;
	height: 7vw;
}
.weather-widget-day {
	color: #7b7b7b;
}