<div class="weather-wrapper">
    <div class="weather-widget">
      <div *ngFor="let weather of result">
        <div class="weather-widget-item">
          <p class="weather-widget-day">{{ weather.day }}:</p>
          <div class="weather-icon">
            <img alt="{{ weather.desc }}" src="{{ weather.icon }}">
          </div>
          <p>{{ weather.desc }} {{ weather.temp }} °C</p>
        </div>
      </div>
    </div>
  </div>