.post-side-title-right {
  clear: both;
  background-color: #f0f0f0;
}

.post-side-title-right .post-img {
  float: left;
  width: 50%;
  background-size: cover !important;
}

.post-side-title-right .post-body {
  width: 50%;
  float: right;
  position: relative;
  background: white;
}

.post-side-title-right .post-img, .post-side-title-right .post-body {
  height: 45vw;
}

.post-side-title-right .post-body .title {
  padding: 15px;
}

.post-side-title-right .post-body .title a {
  -webkit-line-clamp: 5; /* number of lines to show */
  max-height: 7.5em;       /* fallback */
}

.post-side-title-right.right {
  background: red;
}