<div class="posts" infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[infiniteScrollDisabled]="isFullListDisplayed"
[scrollWindow]="true">
  <div *ngFor="let post of posts; let i=index">
    <app-featured-post *ngIf="i==0" [post]="post"></app-featured-post>

    <app-post-half *ngIf="i==1 || i==2 || i==7 || i==8 || i==13 || i==14 || i==19 || i==20 || i==25 || i==26" 
      [post]="post"></app-post-half>
  
    <app-post-side-title *ngIf="i==3 || i==4 || i==9 || i==10 || i==15 || i==16 || i==21 || i==22 || i==27 || i==28"
      [post]="post"></app-post-side-title>

    <app-post-side-title-right *ngIf="i==5 || i==6 || i==11 || i==12 || i==17 || i==18 || i==23 || i==24 || i==29 || i==30"
      [post]="post"></app-post-side-title-right>
  </div>
</div>