.post-half {
    width: 50%;
    float: left;    
    background-color: #f0f0f0;
}

.post-half .post-img {
    width: 100%;
    height: 45vw;
    background-size: cover !important;
}

.post-half .post-body {
    background: white;
    position: relative;
    height: 30vw;
}

.post-half .post-body .title {
    padding: 15px;
}

.post-half .post-body .title a {
    -webkit-line-clamp: 3; /* number of lines to show */
    max-height: 4.5em;       /* fallback */
}