<div class="post-half">
    <a routerLink="/post/{{post.id}}"><div ngClass="post-img" 
      [style.background-image]="'url(' + post.featured_image_url + ')'"></div>
    </a>
    <div class="post-body">
      <div class="title">
        <a routerLink="/post/{{post.id}}" [innerHTML]="post.title.rendered | escapehtml"></a>
      </div>
      <div class="category">{{ post.category_name }}</div>
    </div>
  </div>