.nav-wrapper {
    height: 18vw;
    overflow-y: hidden;
}

.mainNav {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 22vw;
}

.mainNav ul {
    font-size: 4.2vw;
    font-weight: bold;
    list-style-type: none;
    width: 100%;
}

.mainNav ul li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.mainNav ul li a {
    color: #2a2a2a;
    padding: 6.5vw 2.35vw;
    display: block;
}

.mainNav ul li a:hover, .mainNav ul li a.active-link {
    border-bottom: 1vw solid rgb(37, 67, 150);
    padding-bottom: 5.5vw;
}

app-weather {    
    display: block;
    margin: 5vw 0;
    white-space: nowrap;
}

.post-half, .post-side-title, .post-side-title-right {
    background: #f0f0f0;
}