<!-- Hide menu when post is shown -->
<div *ngIf="router.url.includes('post') === false">
	<div class="nav-wrapper">
		<nav class="mainNav">
			<ul>
				<li *ngFor="let menuItem of menu">
						<a routerLink="/category/{{menuItem.cat_ID}}/1" routerLinkActive="active-link">{{ menuItem.title }}</a>
				</li>
			</ul>
		</nav>
	</div>

	<app-weather></app-weather>

	<!-- AD -->
	<div class="ad-medium">
			<ins data-revive-zoneid="14" data-revive-id="b20334868d40a1fce2ac7f11e6bc1d25"></ins>
	</div>
</div>
    
<router-outlet></router-outlet>