.post-side-title {
    clear: both;
    background-color: #f0f0f0;
}

.post-side-title .post-img {
    float: right;
    width: 50%;
    background-size: cover !important;
}

.post-side-title .post-body {
    width: 50%;
    float: left;
    position: relative;
    background: white;
}

.post-side-title .post-img, .post-side-title .post-body {
    height: 45vw;
}

.post-side-title .post-body .title {
    padding: 15px;
}

.post-side-title .post-body .title a {
    -webkit-line-clamp: 5; /* number of lines to show */
    max-height: 7.5em;       /* fallback */
}

.post-side-title.right {
    background: red;
}