.backBtn, .shareBtn {
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
}

.backBtn {
    top: 15px;
    left: 20px;
    background: url('../../../assets/images/arrow.svg') no-repeat;
    width: 20px;
    height: 33px;
}

.shareBtn {
    top: 10px;
    right: 15px;
    background: url('../../../assets/images/share.svg') no-repeat;
    width: 33px;
    height: 33px;
}

.post-image .category {
    position: relative;
    bottom: 2.5vw;
    font-size: 4.5vw;
}

.post-image {
    text-align: center;
    margin-bottom: 1em;
}

.post-image .img-container {
    max-height: 55vw;
    overflow: hidden;
}

img {
    height: auto;
}

.post-heading {
    width: 90%;
    margin: auto;
}

.post-heading h1 {
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    line-height: 1.4em;
}

.post-meta {
    display: block;
    font-size: 4.5vw;
    margin: 2em 0;
    width: 100%;
}

.post_date {
    color: #bebebe;
    text-align: right;
    width: 50%;
    padding-right: 2em;
}

.post_author {
    color: #245eab;
    text-align: left;
    width: 50%;
    padding-left: 2em;
}

hr {
    width: 95%;
    height: 2px;
    background-color: #bebebe;
    border: none;
    opacity: 0.5;
}

.post-content {
    font-size: 5vw;
    margin: 1.5em 0.8em;
    line-height: 1.5em;
}

.post-sample .post-image {
    height: 50vw;
    background: lightgray;
}

.post-sample .category {
    margin-top: 50vw;
    width: 20vw;
    height: 5vw;
    background: gray;
}

.post-sample .post-heading h1 {
    background: lightgray;
    width: 50vw;
    height: 6vw;
    margin: auto;
    margin-top: 3vw;
}

.post-sample .post-heading h1:nth-child(1) {
    margin-top: 10vw;
}

.post-sample .post-heading h1:nth-child(2) {
    width: 55vw;
}

.post-sample .post-heading h1:nth-child(3) {
    width: 40vw;
}

.post-sample .post-content p {
    height: 4vw;
    background: lightgray;
    margin-top: 4vw;
}

.post-sample .post-content p:nth-child(1) {
    width: 80%;
}

.post-sample .post-content p:nth-child(2) {
    width: 60%;
}

.post-sample .post-content p:nth-child(3) {
    width: 90%;
}

.post-sample .post-content p:nth-child(4) {
    width: 70%;
}

.post .post-info {
    padding-bottom: 1.4em; }
  .post .post-info div {
    padding-top: 0.3em; }
  .post .post-info .time {
    padding-top: 0; }
    
    .post-info {
        margin-left: 0;
        padding: 3vw 0;
        text-align: center;
        font-size: 0; }
    .post-info > * {
        text-align: center;
        display: inline-block;
        padding: 1.3vw;
        padding-bottom: 1vw;
        font-size: 3.5vw; }

        .post-info .day {
            background: black;
            color: white;
        }
        .post-info .author {
            background: #bebebe;
        }
        .post-info .time {
            background: #dfdfdf;
        }

        .timetip {
            position: relative;
            display: inline-block; }
          
          .timetip .tiptext {
            visibility: hidden;
            width: 18vw;
            background-color: #2a2a2a;
            color: #fff;
            text-align: center;
            padding: 5px 0 3px 0;
            position: absolute;
            z-index: 1;
            bottom: 5vw;
            left: -1vw;
            margin-left: 0;
            opacity: 0;
            transition: opacity 1s; }
          
          .timetip .tiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #2a2a2a transparent transparent transparent; }
          
          .timetip:hover .tiptext {
            visibility: visible;
            opacity: 1; }
i.time-icon {
    background: url('../../../assets/images/time.svg') no-repeat;
    display: inline-block;
    width: 3vw;
    height: 3.5vw;
    margin-right: 5px;
}