<div class="backBtn" (click)="goBack()"></div>

<div *ngIf="post">
  <div class="post-image">
    <div class="img-container">
      <img class="post-thumbnail" src="{{ post.featured_image_url }}">
    </div>
    <span class="category">{{ post.category_name }}</span>
  </div>
  <div class="post-heading">
    <h1 [innerHTML]="post.title.rendered | escapehtml"></h1>
    <div class="post-info">
      <div class="day">{{ post.date | date:'dd. MM.' }} - {{ post.date | date:'HH:mm' }}</div>
      <div *ngIf="! post.author_name == ''" class="author">{{ post.author_name }}</div>
      <div class="time"><div class="timetip"><i class="time-icon"></i>{{ getReadTime() }}<span class="tiptext"> Čas branja</span></div></div>
    </div>
  </div>
  <hr>
  <div class="post-content post-excerpt" [innerHTML]="post.excerpt.rendered | escapehtml"></div>
  
  <!-- AD -->
  <div class="ad-medium">
    <ins data-revive-zoneid="14" data-revive-id="b20334868d40a1fce2ac7f11e6bc1d25"></ins>
  </div>

  <div class="post-content" [innerHTML]="post.content.rendered | escapehtml"></div>
</div>

<div *ngIf="!post">
  <div class="post-sample">
    <div class="post-image">
      <span class="category"></span>
    </div>
    <div class="post-heading">
        <h1></h1>
        <h1></h1>
        <h1></h1>
      <div class="post-meta">
        <p class="post_date"></p>
        <p class="post_author"></p>
      </div>
    </div>
    <hr>
    <div class="post-content">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>