/*************************************************
$light-blue: #245eab;
$dark-blue: #0b438d;
$light-grey: #f8f8f8;
$medium-grey: #f0f0f0;
$dark-grey: #7b7b7b;
$grey: #bdbdbd;
$main-color: #2a2a2a;
$element-bg: #231f20;
$main-font: 'Arial', serif;
$support-font: 'Open Sans', sans-serif;
$article-font: 'MS-Sans-Serif', sans-serif;
***************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: #245eab;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.category {
    background: rgb(37, 67, 150);
	padding: 0.8vw;
	padding-bottom: 0.4vw;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-transform: uppercase;
    font-size: 3.6vw;
}

.post-body .title a {
    font-size: 4vw;
    font-weight: bold;
	color: black;
	overflow: hidden;
	line-height: 1.5em;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.post-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0.8vw;
}

.post-icon.author-icon {
	background: url('./assets/images/pen.svg') no-repeat;
}

.post-icon.date-icon {
	background: url('./assets/images/man-icon.svg') no-repeat;
}


.post-content img {
    margin: 20px 0;
}

.post-content.post-excerpt {
    font-weight: bold;
}

.post-half, .post-side-title, .post-side-title-right {
	padding: 1.4vw;
}

.ad-small, .ad-medium, .ad-large {
	padding: 2vw;
	background-color: #f0f0f0;
	overflow: hidden;
}

/* important for video on post */
.arve-embed-container {
    padding: 0 !important;
}
iframe {
    width: 100%;
	height: 10em;
	margin-top: 10px;
	margin-bottom: 10px;
}