<a routerLink="/post/{{post.id}}">
  <div ngClass="post featured" 
    [style.background-image]="'url(' + post.featured_image_url + ')'">
  <div class="gradient-shadow"></div>
    <div class="post-body">
      <div class="title">
        <a routerLink="/post/{{post.id}}" [innerHTML]="post.title.rendered | escapehtml"></a>
      </div>
      <div class="category">{{ post.category_name }}</div>
    </div>
  </div>
</a>