.post.featured {
    height: 60vw;
    position: relative;
    background-size: cover !important;
}

.post.featured .gradient-shadow {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 60%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 60%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    height: 100%;
}

.post.featured .post-body .title a {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    bottom: 2em;
    margin: 0 15px;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}